Repository flex-development/repostructure-action: changes, and which Codecov flags are due for each by the changed paths.
All: node20, config, labels, octokit, queries, users

.codecov.yml:

# CODECOV CONFIGURATION
# https://docs.codecov.com/docs/codecovyml-reference

---
codecov:
  notify:
    after_n_builds: 1
    wait_for_ci: true
  require_ci_to_pass: true

comment:
  after_n_builds: 1
  behavior: default
  layout: header,diff,flags,components,tree,footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 100%
  individual_components:
    - component_id: config
      name: config
      paths:
        - src/subdomains/config/**/*.ts
    - component_id: labels
      name: labels
      paths:
        - src/subdomains/labels/**/*.ts
    - component_id: octokit
      name: octokit
      paths:
        - src/subdomains/octokit/**/*.ts
    - component_id: queries
      name: queries
      paths:
        - src/queries/*.ts
    - component_id: users
      name: users
      paths:
        - src/subdomains/users/**/*.ts

coverage:
  precision: 2
  range: 90..100
  round: nearest
  status:
    changes:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
    patch:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%
    project:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%

flags:
  node20:
    carryforward: false
    paths:
      - src/

github_checks:
  annotations: true

ignore:
  - '**/__mocks__/'
  - '**/__tests__/'
  - '**/interfaces/'
  - '**/types/'
  - '**/index.ts'
  - src/main.ts

profiling:
  critical_files_paths:
    - src/octokit.module.ts
    - src/runner.module.ts
    - src/subdomains/config/config.module.ts

feat(environments): `EnvironmentsHandler`
  .codecov.yml
  .commitlintrc.cts
  __fixtures__/api.github.com/graphql.json
  __tests__/setup/server.ts
  src/subdomains/environments/index.ts
  src/subdomains/environments/queries/__tests__/environments.handler.spec-d.ts
  src/subdomains/environments/queries/__tests__/environments.handler.spec.ts
  src/subdomains/environments/queries/__tests__/environments.query.functional.spec.ts
  src/subdomains/environments/queries/__tests__/environments.query.spec-d.ts
  src/subdomains/environments/queries/environments.handler.ts
  src/subdomains/environments/queries/environments.query.ts
  src/subdomains/environments/queries/index.ts
  src/subdomains/environments/types/__tests__/environment.spec-d.ts
  src/subdomains/environments/types/environment.ts
  src/subdomains/environments/types/index.ts
Due: node20

feat(branches): `BranchesHandler`
  .codecov.yml
  .commitlintrc.cts
  __fixtures__/api.github.com/graphql.json
  __tests__/setup/server.ts
  src/subdomains/branches/index.ts
  src/subdomains/branches/queries/__tests__/branches.handler.spec-d.ts
  src/subdomains/branches/queries/__tests__/branches.handler.spec.ts
  src/subdomains/branches/queries/__tests__/branches.query.functional.spec.ts
  src/subdomains/branches/queries/__tests__/branches.query.spec-d.ts
  src/subdomains/branches/queries/branches.handler.ts
  src/subdomains/branches/queries/branches.query.ts
  src/subdomains/branches/queries/index.ts
  src/subdomains/branches/types/__tests__/branch.spec-d.ts
  src/subdomains/branches/types/branch.ts
  src/subdomains/branches/types/index.ts
Due: node20

feat(apps): `AppHandler`
  .codecov.yml
  .commitlintrc.cts
  __fixtures__/api.github.com/apps/github-actions.json
  __tests__/setup/server.ts
  __tests__/utils/gqh.ts
  src/subdomains/apps/index.ts
  src/subdomains/apps/queries/__tests__/app.handler.spec-d.ts
  src/subdomains/apps/queries/__tests__/app.handler.spec.ts
  src/subdomains/apps/queries/__tests__/app.query.spec-d.ts
  src/subdomains/apps/queries/__tests__/app.query.spec.ts
  src/subdomains/apps/queries/app.handler.ts
  src/subdomains/apps/queries/app.query.ts
  src/subdomains/apps/queries/index.ts
  src/subdomains/apps/types/__tests__/app.spec-d.ts
  src/subdomains/apps/types/app.ts
  src/subdomains/apps/types/index.ts
Due: node20

feat(teams): `TeamHandler`
  .codecov.yml
  .commitlintrc.cts
  __fixtures__/api.github.com/orgs/flex-development/teams/dependabot-review.json
  __tests__/setup/server.ts
  src/subdomains/teams/index.ts
  src/subdomains/teams/queries/__tests__/team.handler.spec-d.ts
  src/subdomains/teams/queries/__tests__/team.handler.spec.ts
  src/subdomains/teams/queries/__tests__/team.query.spec-d.ts
  src/subdomains/teams/queries/__tests__/team.query.spec.ts
  src/subdomains/teams/queries/index.ts
  src/subdomains/teams/queries/team.handler.ts
  src/subdomains/teams/queries/team.query.ts
  src/subdomains/teams/types/__tests__/team.spec-d.ts
  src/subdomains/teams/types/index.ts
  src/subdomains/teams/types/team.ts
Due: node20

feat(users): `UsersHandler`
  __fixtures__/api.github.com/graphql.json
  __tests__/setup/server.ts
  src/subdomains/users/queries/__tests__/users.handler.spec-d.ts
  src/subdomains/users/queries/__tests__/users.handler.spec.ts
  src/subdomains/users/queries/__tests__/users.query.spec-d.ts
  src/subdomains/users/queries/__tests__/users.query.spec.ts
  src/subdomains/users/queries/index.ts
  src/subdomains/users/queries/users.handler.ts
  src/subdomains/users/queries/users.query.ts
  typings/@octokit/graphql/index.d.ts
Due: node20, users

feat(teams): `TeamsHandler`
  __fixtures__/api.github.com/graphql.json
  __fixtures__/api.github.com/orgs/flex-development/teams/dependabot-review.json
  __fixtures__/owner.fixture.ts
  __fixtures__/repo.fixture.ts
  __tests__/setup/env.ts
  __tests__/setup/server.ts
  __tests__/utils/connection.ts
  dist/main.mjs
  dist/main.mjs.map
  src/main.ts
  src/queries/__tests__/repository.query.spec.ts
  src/subdomains/branches/queries/__tests__/branches.handler.spec.ts
  src/subdomains/branches/queries/__tests__/branches.query.functional.spec.ts
  src/subdomains/config/__tests__/config.module.spec.ts
  src/subdomains/config/config.module.ts
  src/subdomains/environments/queries/__tests__/environments.handler.spec.ts
  src/subdomains/environments/queries/__tests__/environments.query.functional.spec.ts
  src/subdomains/labels/__tests__/labels.module.integration.spec.ts
  src/subdomains/labels/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/labels/queries/__tests__/labels.handler.spec.ts
  src/subdomains/labels/queries/__tests__/labels.query.functional.spec.ts
  src/subdomains/teams/queries/__tests__/team.handler.spec.ts
  src/subdomains/teams/queries/__tests__/team.query.spec.ts
  src/subdomains/teams/queries/__tests__/teams.handler.spec-d.ts
  src/subdomains/teams/queries/__tests__/teams.handler.spec.ts
  src/subdomains/teams/queries/__tests__/teams.query.spec-d.ts
  src/subdomains/teams/queries/__tests__/teams.query.spec.ts
  src/subdomains/teams/queries/index.ts
  src/subdomains/teams/queries/team.handler.ts
  src/subdomains/teams/queries/teams.handler.ts
  src/subdomains/teams/queries/teams.query.ts
  src/subdomains/users/queries/users.handler.ts
  typings/@octokit/graphql/index.d.ts
Due: node20, config, labels, users

feat(environments): `UpdateEnvironmentHandler`
  __tests__/setup/server.ts
  dist/main.mjs
  dist/main.mjs.map
  src/subdomains/environments/commands/__tests__/update.command.spec-d.ts
  src/subdomains/environments/commands/__tests__/update.command.spec.ts
  src/subdomains/environments/commands/__tests__/update.handler.functional.spec.ts
  src/subdomains/environments/commands/__tests__/update.handler.spec-d.ts
  src/subdomains/environments/commands/index.ts
  src/subdomains/environments/commands/update.command.ts
  src/subdomains/environments/commands/update.handler.ts
  src/subdomains/environments/types/__tests__/reviewers.spec-d.ts
  src/subdomains/environments/types/index.ts
  src/subdomains/environments/types/reviewers.ts
  src/subdomains/labels/commands/__tests__/create.command.spec-d.ts
  src/subdomains/labels/commands/__tests__/update.command.spec-d.ts
  src/subdomains/labels/commands/create.command.ts
  src/subdomains/labels/commands/update.command.ts
Due: node20, labels

feat(environments): `CreateEnvironmentHandler`
  __tests__/setup/server.ts
  src/subdomains/environments/commands/__tests__/create.command.spec-d.ts
  src/subdomains/environments/commands/__tests__/create.command.spec.ts
  src/subdomains/environments/commands/__tests__/create.handler.functional.spec.ts
  src/subdomains/environments/commands/__tests__/create.handler.spec-d.ts
  src/subdomains/environments/commands/__tests__/delete.handler.functional.spec.ts
  src/subdomains/environments/commands/create.command.ts
  src/subdomains/environments/commands/create.handler.ts
  src/subdomains/environments/commands/index.ts
  src/subdomains/labels/commands/__tests__/create.handler.functional.spec.ts
  src/subdomains/labels/commands/__tests__/delete.handler.functional.spec.ts
  src/subdomains/labels/commands/__tests__/update.handler.functional.spec.ts
Due: node20, labels

build(deps-dev): bump dprint-plugin-typescript from 0.87.1 to 0.88.3
  .dprint.jsonc
Due: none

feat(users): `UsersModule`
  dist/main.mjs
  dist/main.mjs.map
  src/runner.module.ts
  src/subdomains/users/__tests__/users.module.integration.spec.ts
  src/subdomains/users/index.ts
  src/subdomains/users/users.module.ts
Due: node20, users

feat(teams): `TeamsModule`
  dist/main.mjs
  dist/main.mjs.map
  src/runner.module.ts
  src/subdomains/teams/__tests__/teams.module.integration.spec.ts
  src/subdomains/teams/index.ts
  src/subdomains/teams/teams.module.ts
Due: node20

feat(environments): `EnvironmentsModule`
  .github/infrastructure.yml
  .schema.json
  dist/main.mjs
  dist/main.mjs.map
  src/__tests__/runner.module.integration.spec.ts
  src/runner.module.ts
  src/subdomains/config/__tests__/config.module.spec.ts
  src/subdomains/config/config.module.ts
  src/subdomains/environments/__tests__/environments.module.integration.spec.ts
  src/subdomains/environments/environments.module.ts
  src/subdomains/environments/index.ts
  src/subdomains/labels/__tests__/labels.module.integration.spec.ts
  src/subdomains/teams/__tests__/teams.module.integration.spec.ts
  src/subdomains/users/__tests__/users.module.integration.spec.ts
  src/types/__tests__/infrastructure.spec-d.ts
  src/types/index.ts
  src/types/infrastructure-command.ts
  src/types/infrastructure.ts
Due: node20, config, labels, users

refactor(branches): `BranchesHandler` -> `BranchProtectionsHandler`
  __tests__/setup/server.ts
  src/subdomains/branches/queries/__tests__/branch-protections.handler.spec-d.ts
  src/subdomains/branches/queries/__tests__/branch-protections.handler.spec.ts
  src/subdomains/branches/queries/__tests__/branch-protections.query.functional.spec.ts
  src/subdomains/branches/queries/__tests__/branch-protections.query.spec-d.ts
  src/subdomains/branches/queries/__tests__/branches.handler.spec-d.ts
  src/subdomains/branches/queries/__tests__/branches.query.spec-d.ts
  src/subdomains/branches/queries/branch-protections.handler.ts
  src/subdomains/branches/queries/branch-protections.query.ts
  src/subdomains/branches/queries/branches.handler.ts
  src/subdomains/branches/queries/branches.query.ts
  src/subdomains/branches/queries/index.ts
  src/subdomains/branches/types/__tests__/branch-protection.spec-d.ts
  src/subdomains/branches/types/branch-protection.ts
  src/subdomains/branches/types/branch.ts
  src/subdomains/branches/types/index.ts
Due: node20

feat(branches): `DeleteBranchProtectionHandler`
  __tests__/setup/server.ts
  src/subdomains/branches/commands/__tests__/delete.command.spec-d.ts
  src/subdomains/branches/commands/__tests__/delete.command.spec.ts
  src/subdomains/branches/commands/__tests__/delete.handler.functional.spec.ts
  src/subdomains/branches/commands/__tests__/delete.handler.spec-d.ts
  src/subdomains/branches/commands/delete.command.ts
  src/subdomains/branches/commands/delete.handler.ts
  src/subdomains/branches/commands/index.ts
  src/subdomains/branches/index.ts
Due: node20

feat(apps): `AppsHandler`
  __fixtures__/api.github.com/apps.json
  __fixtures__/api.github.com/apps/github-actions.json
  __tests__/setup/server.ts
  __tests__/types/index.ts
  __tests__/types/octokit-data.ts
  __tests__/types/octokit-parameters.ts
  src/subdomains/apps/queries/__tests__/app.handler.spec.ts
  src/subdomains/apps/queries/__tests__/app.query.spec.ts
  src/subdomains/apps/queries/__tests__/apps.handler.spec-d.ts
  src/subdomains/apps/queries/__tests__/apps.handler.spec.ts
  src/subdomains/apps/queries/__tests__/apps.query.spec-d.ts
  src/subdomains/apps/queries/__tests__/apps.query.spec.ts
  src/subdomains/apps/queries/app.query.ts
  src/subdomains/apps/queries/apps.handler.ts
  src/subdomains/apps/queries/apps.query.ts
  src/subdomains/apps/queries/index.ts
Due: node20

feat(branches): `CreateBranchProtectionHandler`
  __tests__/setup/server.ts
  src/subdomains/branches/commands/__tests__/create.command.spec-d.ts
  src/subdomains/branches/commands/__tests__/create.command.spec.ts
  src/subdomains/branches/commands/__tests__/create.handler.functional.spec.ts
  src/subdomains/branches/commands/__tests__/create.handler.spec-d.ts
  src/subdomains/branches/commands/create.command.ts
  src/subdomains/branches/commands/create.handler.ts
  src/subdomains/branches/commands/index.ts
  src/subdomains/environments/commands/__tests__/create.handler.functional.spec.ts
Due: node20

feat(branches): `ManageBranchProtectionsHandler`
  __fixtures__/api.github.com/graphql.json
  dist/main.mjs
  dist/main.mjs.map
  src/commands/manage-list.handler.ts
  src/subdomains/branches/commands/__tests__/manage.command.spec-d.ts
  src/subdomains/branches/commands/__tests__/manage.command.spec.ts
  src/subdomains/branches/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/branches/commands/__tests__/manage.handler.spec-d.ts
  src/subdomains/branches/commands/__tests__/update.handler.functional.spec.ts
  src/subdomains/branches/commands/index.ts
  src/subdomains/branches/commands/manage.command.ts
  src/subdomains/branches/commands/manage.handler.ts
  src/subdomains/environments/commands/__tests__/manage.command.spec-d.ts
  src/subdomains/environments/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/environments/commands/manage.handler.ts
  src/subdomains/labels/commands/__tests__/manage.command.spec-d.ts
  src/subdomains/labels/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/labels/commands/manage.handler.ts
Due: node20, labels

feat(security): `SecurityModule`
  .github/infrastructure.yml
  .schema.json
  dist/main.mjs
  dist/main.mjs.map
  src/__tests__/runner.module.integration.spec.ts
  src/runner.module.ts
  src/subdomains/security/index.ts
  src/subdomains/security/security.module.ts
  src/types/__tests__/infrastructure-command.spec-d.ts
  src/types/__tests__/infrastructure.spec-d.ts
  src/types/infrastructure-command.ts
  src/types/infrastructure.ts
Due: node20

feat(pull-requests): `ManagePullRequestsHandler`
  .codecov.yml
  .commitlintrc.cts
  .github/infrastructure.yml
  src/subdomains/pull-requests/commands/__tests__/manage.command.spec-d.ts
  src/subdomains/pull-requests/commands/__tests__/manage.command.spec.ts
  src/subdomains/pull-requests/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/pull-requests/commands/__tests__/manage.handler.spec-d.ts
  src/subdomains/pull-requests/commands/index.ts
  src/subdomains/pull-requests/commands/manage.command.ts
  src/subdomains/pull-requests/commands/manage.handler.ts
  src/subdomains/pull-requests/enums/__tests__/merge-message.spec-d.ts
  src/subdomains/pull-requests/enums/__tests__/merge-title.spec-d.ts
  src/subdomains/pull-requests/enums/__tests__/squash-message.spec-d.ts
  src/subdomains/pull-requests/enums/__tests__/squash-title.spec-d.ts
  src/subdomains/pull-requests/enums/index.ts
  src/subdomains/pull-requests/enums/merge-message.ts
  src/subdomains/pull-requests/enums/merge-title.ts
  src/subdomains/pull-requests/enums/squash-message.ts
  src/subdomains/pull-requests/enums/squash-title.ts
  src/subdomains/pull-requests/index.ts
Due: node20

feat(pull-requests): `PullRequestsModule`
  .github/infrastructure.yml
  .schema.json
  dist/main.mjs
  dist/main.mjs.map
  src/__tests__/runner.module.integration.spec.ts
  src/runner.module.ts
  src/subdomains/pull-requests/index.ts
  src/subdomains/pull-requests/pull-requests.module.ts
  src/types/__tests__/infrastructure-command.spec-d.ts
  src/types/__tests__/infrastructure.spec-d.ts
  src/types/infrastructure-command.ts
  src/types/infrastructure.ts
Due: node20

build(deps-dev): bump typescript from 5.2.2 to 5.3.2
  .github/infrastructure.yml
  dist/main.mjs.map
  package.json
  yarn.lock
Due: none

fix(pull-requests): commit message and title management
  .github/infrastructure.yml
  dist/main.mjs
  dist/main.mjs.map
  src/subdomains/pull-requests/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/pull-requests/commands/manage.handler.ts
Due: node20

refactor(environments): [CreateCommand] `#name` -> `#environment`
  .github/infrastructure.yml
  .schema.json
  dist/main.mjs
  dist/main.mjs.map
  src/__tests__/runner.module.integration.spec.ts
  src/subdomains/environments/commands/__tests__/create.command.spec-d.ts
  src/subdomains/environments/commands/__tests__/create.command.spec.ts
  src/subdomains/environments/commands/__tests__/create.handler.functional.spec.ts
  src/subdomains/environments/commands/__tests__/manage.command.spec.ts
  src/subdomains/environments/commands/__tests__/manage.handler.functional.spec.ts
  src/subdomains/environments/commands/create.command.ts
  src/subdomains/environments/commands/create.handler.ts
  src/subdomains/environments/commands/manage.handler.ts
Due: node20
